.usersPage {
  display: grid;
  grid-template-columns: minmax(0, 7fr) minmax(0, 2fr);
  gap: 20px;
  padding: 50px;
}

.loadBtn {
  text-align: center;
  padding: 50px;
}

.loadBtn button {
  width: 150px;
  background-color: green;
  border: 1px solid green;
  color: white;
  font-size: 20px;
  padding: 7px;
}

.loadBtn button:hover {
  background-color: rgb(0, 172, 0);
}