.header {
  grid-area: header;
  background-color: chocolate;
}

.header img {
  height: 100%;
}

.headerLogin {
  float: right;
  text-align: center;
  font-size: 18px;
  color: white;  
}

.headerLogin a {
  color: white;
  text-decoration: none;
}

.headerLogin a:hover {
  color: black;
}