.userAvatar img {
  width: 100%;
  border-radius: 60px;
}

.userAvatar button {
  width: 100%;
  background-color: green;
  color: white;
  border: 1px solid green;
  padding: 4px;
  font-size: 16px;
}

.userAvatar button:hover {
  background-color: rgb(0, 172, 0);
}
